.container{
    display: flex;
}
@media only screen and (max-width: 1400px){
    .container{
        margin: 0 5rem;
        }
  
        .container p{
            font-size:1.5rem;
        }
        .container h1{
        font-size: 2.5rem;
     }
     .container .button{
        font-size: 1rem;
     }
    
}

@media only screen and (min-width: 1400px) {
    .container{
        margin: 0 15rem;
    }
    .container p{
        font-size:2rem;
    }
    .container h1{
    font-size: 3rem;
 }
 .container .button{
    font-size: 1.5rem;
 }
    }
